<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">

    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col mx-auto">
                        <div class="card shadow-lg p-3 mb-5 bg-body rounded border border-light p-3">
                            <div class="card-body p-3 rounded text-center">
                                <img src="../imagenes/mascota.png" alt="registrar-mascota" height="150"
                                    width="150">
                                <h3 class="text-diseño-rc text-center" th:text="${titulo}"></h3>
                            </div>
                            <hr class="border border-light" />
                            <form th:action="@{/formularioMascota}" method="post" th:object="${mascota}"
                                class="row g-3">
                                <input type="hidden" th:field="*{id}" th:value="${mascota.id}" />
                                <div class="col-md-5 position-relative">
                                    <label class="text-diseño-rc2">Nombre</label>
                                    <input id="nombre" type="text" th:field="*{nombre}" class="form-control"
                                        placeholder="Ingrese nombre de la mascota" required>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label class="text-diseño-rc2">Edad (meses) </label>
                                    <input id="edad" type="number" th:field="*{edad}" class="form-control"
                                        placeholder="Ingresar numero de meses" required>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">Sexo</label>
                                    <select id="Sexo" class="form-select form-select mb-3" th:field="*{Sexo}">
                                        <option value="" selected="selected" >-Seleccionar Sexo-</option>
                                        <option value="H">Hembra</option>
                                        <option value="M">Macho</option>
                                    </select>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label class="form-label text-diseño-rc2">Especie</label>
                                    <select id="especie" class="form-select form-select mb-3" th:field="*{especie}">
                                        <option value="" selected="selected" >-Seleccionar Especie-</option>
                                        <option value="Perro">Perro</option>
                                        <option value="Gato">Gato</option>
                                        <option value="Conejo">Conejo</option>
                                        <option value="Hamster">Hamster</option>
                                    </select>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label class="text-diseño-rc2">Raza</label>
                                    <input id="raza" type="text" th:field="*{raza}" class="form-control"
                                        placeholder="Ingrese raza" required>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label class="text-diseño-rc2">Estatura (cm) </label>
                                    <input id="estatura" type="text" th:field="*{estatura}" class="form-control"
                                         placeholder="50 cm" required>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label class="text-diseño-rc2">Peso (kg) </label>
                                    <input id="peso" type="text" th:field="*{peso}" class="form-control" placeholder="peso en kg" required>
                                </div>
                                <div class="col-md-3 position-relative">
                                    <label class="text-diseño-rc2">Color</label>
                                    <input id="color" type="text" th:field="*{color}" class="form-control"
                                        placeholder="Ingrese color" required>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label for="validationTooltip05" class="form-label text-diseño-rc2">Nombre Propietario</label>
                                    <select class="form-select form-select mb-3" th:field="*{propietario}">
                                        <option value="" selected="selected" >-Seleccionar Propietario-</option>
                                        <option th:each="propietario : ${listaPropietario}" th:value="${propietario.id}" th:text="${propietario.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" id="btn-registrar" class="btn btn-fondo-rc text-light">REGISTRAR</button>
                                </div>
                                <div class="col-12 d-grid">
                                    <a type="submit" id="btn-volesMascota" th:href="@{/gestionMascota}"
                                        class="btn btn-fondo-rc text-light">VOLVER</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="layout :: footer"></footer>
</body>

</html>