<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">

    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col mx-auto">
                        <div class="card shadow-lg p-3 mb-5 bg-body rounded border border-light p-3">
                            <div class="card-body p-3 rounded text-center">
                                <img src="../imagenes/atencion_formulario.png" alt="citas-form" height="150" width="150">
                                <h3 class="text-diseño-rc text-center" th:text="${titulo}"></h3>
                            </div>
                            <hr class="border border-light" />
                            <form th:action="@{/formularioAtencion}" method="post" th:object="${citas}" class="row g-3">
                                <input type="hidden" th:field="*{id}" th:value="${citas.id}" />
                                <div  class="col-md-4 position-relative text-center">
                                    <label class="form-label text-diseño-rc2">Encargado</label>
                                    <select id="CitasEncargado" class="form-control text-center" th:field="*{empleado}" readonly="readonly" tabindex="-1">
                                        <option value="" selected="selected" >-Seleccionar Encargado-</option>
                                        <option th:each="empleado : ${empleado}" th:if="${empleado.id > 1}" th:value="${empleado.id}" th:text="${empleado.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6 position-relative text-center">
                                    <label class="form-label text-diseño-rc2">Propietario</label>
                                    <select id="CitasPropietario" class="form-control text-center" th:field="*{propietario}" readonly="readonly" tabindex="-1">
                                        <option value="" selected="selected" >-Seleccionar Propietario-</option>
                                        <option th:each="propietario : ${propietario}" th:value="${propietario.id}" th:text="${propietario.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4 position-relative text-center">
                                    <label class="form-label text-diseño-rc2">Mascota</label>
                                    <select id="CitasMascota" class="form-control text-center" th:field="*{mascota}" readonly="readonly" tabindex="-1">
                                        <option value="" selected="selected" >-Seleccionar Mascota-</option>
                                        <option th:each="mascota : ${mascota}" th:value="${mascota.id}" th:text="${mascota.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6 position-relative text-center">
                                    <label class="form-label text-diseño-rc2">Servicio</label>
                                    <select id="Citasservicio" class="form-control text-center" th:field="*{servicio}" readonly="readonly"  tabindex="-1">
                                        <option th:each="servicio : ${servicio}" th:value="${servicio.id}" th:text="${servicio.descripcion}"></option>
                                    </select>
                                </div>
                                <div class="col-md-3 position-relative text-center">
                                    <label class="form-label text-diseño-rc2">Fecha de Cita</label>
                                    <input class="form-control text-center" th:field="*{fechaCita}" readonly="readonly">
                                </div>

                                <div class="col-md-4 position-relative text-center">
                                    <label for="validationTooltip04" class="form-label text-diseño-rc2">Horario Cita</label>
                                    <input class="form-control text-center" th:field="*{horaCita}" readonly="readonly">
                                </div>

                                <div class="col-md-3 position-relative text-center">
                                    <label class="form-label text-diseño-rc2">Estado</label>
                                    <select class="form-select form-select mb-3 text-center" th:field="*{Estado}">
                                        <option class="text-center" selected value="Registrado">Registrado</option>
                                        <option class="text-center" th:if="${citas.id != null}" selected value="Atendido">Atendido</option>
                                    </select>
                                </div>
                                <div th:if="${citas.id != null}">
                                    <div class="text-center">
                                        <label class="form-label text-diseño-rc2 ">Observaciones</label>
                                    </div>
                                    <div class="col-lm-6 position-relative">
                                        <textarea class="form-control" placeholder="Observaciones de la mascota" id="observaciones" th:field="*{Observaciones}" style="height: 100px"></textarea>
                                    </div>
                                    <div class="text-center">
                                        <label class="form-label text-diseño-rc2">Tratamiento</label>
                                    </div>
                                    <div class="col-lm-6 position-relative">
                                        <textarea class="form-control" placeholder="Tratamiento de la mascota" id="tratamiento" th:field="*{Tratamiento}" style="height: 100px"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" id="btn-registrar" class="btn btn-fondo-rc text-light">GUARDAR</button>
                                </div>
                                <div class="col-12 d-grid">
                                    <a th:href="@{/gestionAtencion}" type="submit" id="btn-volver"
                                        class="btn btn-fondo-rc text-light">VOLVER</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="layout :: footer"></footer>
</body>

</html>